@use "../abstracts";
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --text: #1a162e;
  --font: Gordita, sans-serif;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(6945%) hue-rotate(211deg) brightness(101%)
    contrast(96%);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--font);
  background-color: var(--body-bg);
  color: var(--text);
}
a,
img,
button,
input,
label,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
  color: inherit;
}
input {
  background: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.icon {
  filter: var(--icon-color);
}
.container {
  @include abstracts.screen(sm) {
    padding: 0 20px !important;
  }
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: 600;
}
