.form {
  &__group {
    margin-top: 30px;
    &-inline {
      display: flex;
      align-items: center;
    }
  }
  &__text-input {
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1.5px solid #d2d1d6;
    height: 50px;
    padding: 0 12px;
    &:focus-within {
      border-color: #77dae6;
    }
  }
  &__input {
    flex: 1;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 144.444%;
    &::placeholder {
      color: #d2d1d6;
    }
    &-icon {
      // Margin-left vào icon để tránh tình trạng nhập đầy input
      margin-left: 12px;
    }
  }
  &__pull-right {
    margin-left: auto;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    &-label {
        color: #9e9da8;
      font-size: 15px;
      font-weight: 500;
      line-height: 2.2rem;
    }
  }
}
