@use "../abstracts";
$error-color: #ed4337;
.form {
  &:has(:invalid) &__submit-button {
    opacity: 0.5;
    pointer-events: none;
  }
  &__row {
    display: flex;
    gap: 30px;
    > * {
      flex: 1;
    }
    @include abstracts.screen(md) {
      gap: 20px;
    }
    @include abstracts.screen(sm) {
      flex-direction: column;
      gap: 0px;
    }
  }
  &__group {
    margin-top: 30px;
    width: 100%;
    &-inline {
      display: flex;
      align-items: center;
    }
    @include abstracts.screen(md) {
      margin-top: 20px;
    }
  }
  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: $error-color;
      background-color: rgba($color: $error-color, $alpha: 0.1);
    }
    .form__error,
    .form__input-icon-error {
      display: block;
    }
    .form__input-icon {
      display: none;
    }
  }
  &__input-icon-error {
    display: none;
    width: 18px;
    height: 20px;
    margin-left: 12px;
    animation: shake 0.8s;
  }
  &__error {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
    color: $error-color;
    display: none;
  }
  &__text-area,
  &__text-input {
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 10px;
    border: 1.5px solid #d2d1d6;
    &:focus-within {
      border-color: #77dae6;
    }
  }
  &__text-area {
    padding: 12px;
    height: 100px;
    &-input {
      resize: none;
    }
  }
  &__text-input {
    height: 46px;
    position: relative;
    z-index: 1;
    &--small {
      height: 42px;
      @include abstracts.screen(md) {
        height: 48px;
      }
    }
  }
  &__input,
  &__text-area-input {
    width: 100%;
    flex: 1;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 144.444%;
    &::placeholder {
      color: var(--form-placeholder-color);
    }
    @include abstracts.screen(md) {
      font-size: 1.6rem;
    }
  }
  &__input {
    &-icon {
      // Margin-left vào icon để tránh tình trạng nhập đầy input
      margin-left: 12px;
    }
  }
  &__select-dialog {
    position: absolute;
    z-index: 1;
    background: var(--form-select-dialog-bg);
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--line);
    bottom: 44px;
    left: 10px;
    max-height: 310px;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility, translate;
    transition-duration: 0.2s;
    translate: 0 8px;
    box-shadow: 0 0 5px var(--form-select-dialog-shadow);
    &.show {
      opacity: 1;
      visibility: visible;
      translate: 0;
    }
    @include abstracts.screen(md) {
      max-height: 294px;
    }
    @include abstracts.screen(sm) {
      position: fixed;
      max-width: initial;
      max-height: initial;
      inset: 0;
      border-radius: 0;
    }
  }
  &__dialog-heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
  }
  &__options-list {
    flex: 1;
    overflow-y: auto;
    margin-top: 8px;
    overscroll-behavior: contain;
    @supports (-webkit-touch-callout: none) {
      padding-bottom: 300px;
    }
  }
  &__option {
    padding: 8px 20px;
    font-size: 1.4rem;
    &:hover {
      background: #ebebeb;
    }
    &--current {
      background: rgba($color: #ffb700, $alpha: 0.5);
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background: var(--form-option-hover-bg);
      }
    }
    &:not(&--current):hover {
      background: var(--form-option-hover-bg);
      cursor: pointer;
    }
    @include abstracts.screen(lg) {
      padding: 18px 30px;
      font-size: 1.6rem;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
    border-bottom: 1px solid var(--line);
    padding: 0 20px;
    height: 38px;
    &-icon {
      width: 16px;
      margin-right: 10px;
      @include abstracts.screen(sm) {
        margin-left: 0px;
      }
    }
    &-input {
      flex: 1;
      height: 100%;
    }
    @include abstracts.screen(lg) {
      height: 48px;
      &-icon {
        width: 20px;
      }
    }
    @include abstracts.screen(sm) {
      border: 1px solid var(--line);
      margin: 10px 30px 0;
      border-radius: 10px;
      flex-direction: row-reverse;
      padding: 0 14px;
    }
  }
  &__close-dialog {
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 18px;
    opacity: 0.8;
  }
  &__pull-right {
    margin-left: auto;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    user-select: none;
    // Tối ưu cảm giác khi ấn checkbox
    &-label {
      margin-left: 29px;
      margin-right: auto;
      color: #9e9da8;
      font-size: 15px;
      font-weight: 500;
      line-height: 146.667%;
      @include abstracts.screen(md) {
        font-size: 1.4rem;
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      width: 19px;
      height: 19px;
      border-radius: 5px;
      border: 1.5px solid #9e9da8;
    }
  }
  &__checkbox:has(:checked) {
    &::before {
      border-color: #ffb700;
      background: #ffb700;
    }
    &::after {
      width: 15px;
      height: 8px;
      rotate: -45deg;
      border: 3px solid;
      border-color: transparent transparent #fff #fff;
      left: 2px;
      top: 4px;
    }
  }
  &__select-wrap {
    border: 1px solid #d2d1d6;
    border-radius: 6px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  &__select {
    padding: 0 14px;
    display: flex;
    align-items: center;
    height: calc(100% - 10px);
    //styleName: Medium 14;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    min-width: var(--width, 114px);
    justify-content: space-between;
    cursor: pointer;
    @include abstracts.screen(xl) {
      flex: 1;
    }
  }
  &__select-arrow {
    width: 24px;
  }
  &__select + &__select {
    border-left: 1px solid #d2d1d6;
  }
  &__label {
    //styleName: Medium 22;
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    &--small {
      //styleName: Medium 14;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    &--medium {
      //styleName: Medium 18;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
  &__tags {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    @include abstracts.screen(sm) {
      gap: 10px;
    }
  }
  &__tag {
    border-radius: 6px;
    background: var(--form-tag-bg);
    //styleName: Medium 14;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #9e9da8;
    padding: 6px 12px;
    transition: color 0.25s;
    &:hover {
      color: var(--text-color-2);
    }
  }
}
