@use "../abstracts";
$error-color: #ed4337;
.form {
  &:has(:invalid) &__submit-button {
    opacity: 0.5;
    pointer-events: none;
  }
  &__group {
    margin-top: 30px;
    &-inline {
      display: flex;
      align-items: center;
    }
    @include abstracts.screen(md) {
      margin-top: 20px;
    }
  }
  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: $error-color;
      background-color: rgba($color: $error-color, $alpha: 0.1);
    }
    .form__error,
    .form__input-icon-error {
      display: block;
    }
    .form__input-icon {
      display: none;
    }
  }
  &__input-icon-error {
    display: none;
    width: 18px;
    height: 20px;
    margin-left: 12px;
    animation: shake 0.8s;
  }
  &__error {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
    color: $error-color;
    display: none;
  }
  &__text-input {
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1.5px solid #d2d1d6;
    height: 50px;
    padding: 0 12px;
    &:focus-within {
      border-color: #77dae6;
    }
    @include abstracts.screen(md) {
      height: 48px;
    }
  }
  &__input {
    flex: 1;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 144.444%;
    &::placeholder {
      color: var(--form-placeholder-color);
    }
    &-icon {
      // Margin-left vào icon để tránh tình trạng nhập đầy input
      margin-left: 12px;
    }
    @include abstracts.screen(md) {
      font-size: 1.6rem;
    }
  }
  &__pull-right {
    margin-left: auto;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    user-select: none;
    // Tối ưu cảm giác khi ấn checkbox
    &-label {
      margin-left: 29px;
      margin-right: auto;
      color: #9e9da8;
      font-size: 15px;
      font-weight: 500;
      line-height: 146.667%;
      @include abstracts.screen(md) {
        font-size: 1.4rem;
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      width: 19px;
      height: 19px;
      border-radius: 5px;
      border: 1.5px solid #9e9da8;
    }
  }
  &__checkbox:has(:checked) {
    &::before {
      border-color: #ffb700;
      background: #ffb700;
    }
    &::after {
      width: 15px;
      height: 8px;
      rotate: -45deg;
      border: 3px solid;
      border-color: transparent transparent #fff #fff;
      left: 2px;
      top: 4px;
    }
  }
  &__select-wrap {
    border: 1px solid #d2d1d6;
    border-radius: 6px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  &__select {
    padding: 0 14px;
    display: flex;
    align-items: center;
    height: calc(100% - 10px);
    //styleName: Medium 14;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    min-width: var(--width, 114px);
    justify-content: space-between;
    cursor: pointer;
    @include abstracts.screen(xl) {
      flex: 1;
    }
  }
  &__select-arrow {
    width: 24px;
  }
  &__select + &__select {
    border-left: 1px solid #d2d1d6;
  }
  &__label {
    //styleName: Medium 22;
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    &--small {
      //styleName: Medium 14;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
  &__tags {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    @include abstracts.screen(sm) {
      gap: 10px;
    }
  }
  &__tag {
    border-radius: 6px;
    background: var(--form-tag-bg);
    //styleName: Medium 14;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #9e9da8;
    padding: 6px 12px;
    transition: color 0.25s;
    &:hover {
      color: var(--text-color-2);
    }
  }
}
