@use "../abstracts";
html.dark {
  --text: #fff;
  --line: #fff;
  --font: Lato, sans-serif;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  --header-bg-color: #171c28;
  --footer-bg-color: var(--header-bg-color);
  --footer-text-color: #9e9da6;
  --body-bg: #292e39;
  --actions-group-color: #292e39;
  --actions-group-shadow: rgba(0, 0, 0, 0.2);
  --actions-line: #ededf6;
  @include abstracts.screen(lg) {
    --header-shadow: rgba(0, 0, 0, 0.2);
  }
  // Drop-down
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow: rgba(23, 28, 40, 0.4);
  --dropdown-arrow: brightness(0) saturate(100%) invert(15%) sepia(11%) saturate(1427%) hue-rotate(185deg)
    brightness(91%) contrast(83%);
  --dropdown-menu-border: #171c28;
  --dropdown-icon-color: brightness(0) saturate(100%) invert(91%) sepia(2%) saturate(209%) hue-rotate(200deg)
    brightness(108%) contrast(98%);
  // Header
  --header-actions-dropdown-bg: #2f3441;
  --header-actions-drodown-shadow:rgba(23, 28, 40, 0.4);
  --header-actions-dropdown-borders: #d2d1d6;
  // Side-bar
  --side-bar-bg: #292e39;
  --side-bar-shadow: rgba(23, 28, 40, 0.4);
  // Category item
  --cate-item-bg: #171c28;
  --cate-item-thumb: #292e39;
  --cate-title-color: #fff;
  // Filter button
  --filter-button-color: #fff;
  --filter-button-bg: #171c28;
  --product-text: #FFFFFF;
  --product-brand: #9e9da8;
  --product-card-bg: #171c28;
  --product-card-shadow: box-shadow: #00000033;
  // Like-button
  --like-button__bg: #292E39;
    // Filter-form
    --filter-form-bg: #2f3441;
    --filter-form-shadow: rgba(0,0,0,0.4);
    --form-tag-bg: #171c28;
    --filter-arrow-color: var(--dropdown-arrow);
  // Auth
  --auth-content-bg: #292E39;
  --auth-intro-bg : #171c28;
  --auth-intro-text-color:#b9babe;
  --auth-heading-color:#b9babe;
  // Forms
  --form-placeholder-color: #b9babe;
  --form-select-dialog-shadow: rgba($color: #fff, $alpha: 0.15);
  --form-select-dialog-bg: #292e39;
  --form-option-hover-bg: #292e39;
  // Product detail
  --product-detail-bg: #292e39;
  --product-detail-info-bg: #171c28;
  --product-detail-content-bg: transparent;
  --product-detail-tag-bg: #292e39;
  @include abstracts.screen(md) {
    --product-detail-bg: #292e39;
    --product-detail-info-bg: transparent;
    --product-detail-content-bg: #171c28;
  }
  // Breadcrumbs
  --breadcrumbs-bg: #171c28;
  --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
  @include abstracts.screen(md) {
    --breadcrumbs-bg: #171c28;
  }
  // Search-bar
  --search-bar-bg: #171c28;
  // Review-card
  --review-card-bg: #171c28;
  // Text-content
  --text-content-hr-bg:#3e4043;
  // Checkout
  --checkout-breadcrumbs-bg: #171c28;
  --checkout-cart-info-bg: #171c28;
  --shipping-bg: #292e39 ;
  --checkout-cart-item-text: #fff;
  --checkout-cart-info-shadow: rgba(23, 28, 40, 0.20);
  --checkout-border-color: #292e39;
  --checkout-gift-shadow:  rgba(23, 28, 40, 0.20);
  --check-checkbox-color: var(--icon-color);
  // Dialog
  --dialog-bg:#2f3441;
  --dialog-shadow: rgba(23, 28, 40, 0.20);
  // Payment-item
  --payment-item-bg: #292E39;
  // Profile
  --profile-sidebar-bg: #171C28;
  --profile-menu-link-hover: #292E39;
  --profile-sidebar-box-shadow: #171C2833;
  // Account-info
  --account-info-bg: #292e39;
  --account-info-icon-bg: #171c28;
  // Separate
  --separate-color: #292e39;
}
