@use "../abstracts";
html.dark {
  --text: #fff;
  --font: Gordita, sans-serif;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  --header-bg-color: #171c28;
  --footer-bg-color: var(--header-bg-color);
  --footer-text-color: #9e9da6;
  --body-bg: #292e39;
  --actions-group-color: #292e39;
  --actions-group-shadow: rgba(0, 0, 0, 0.2);
  --actions-line: #ededf6;
  @include abstracts.screen(lg) {
    --header-shadow: rgba(0, 0, 0, 0.2);
  }
  // Drop-down
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow: rgba(23, 28, 40, 0.4);
  --dropdown-arrow: brightness(0) saturate(100%) invert(15%) sepia(11%) saturate(1427%) hue-rotate(185deg)
    brightness(91%) contrast(83%);
  --dropdown-menu-border: #171c28;
  --dropdown-icon-color: brightness(0) saturate(100%) invert(91%) sepia(2%) saturate(209%) hue-rotate(200deg)
    brightness(108%) contrast(98%);
  // Side-bar
  --side-bar-bg: #292e39;
  --side-bar-shadow: rgba(23, 28, 40, 0.4);
  // Category item
  --cate-item-bg: #171c28;
  --cate-item-thumb: #292e39;
  --cate-title-color: #fff;
  // Filter button
  --filter-button-color: #fff;
  --filter-button-bg: #171c28;
  --product-text: #FFFFFF;
  --product-brand: #9e9da8;
  --product-card-bg: #171c28;
  --product-card-shadow: box-shadow: #00000033;
  // Like-button
  --like-button__bg: #292E39;
    // Filter-form
    --filter-form-bg: #2f3441;
    --filter-form-shadow: rgba(0,0,0,0.4);
    --filter-form-tag-bg: #171c28;
    --filter-arrow-color: var(--dropdown-arrow);
  // Auth
  --auth-content-bg: #292E39;
  --auth-intro-bg : #171c28;
  --auth-intro-text-color:#b9babe;
  --auth-heading-color:#b9babe;
  // Forms
  --form-placeholder-color: #b9babe;

  // Product detail
  --product-detail-bg: #292e39;
  // Breadcrumbs
  --breadcrumbs-bg: #171c28;
  --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
}
