@use "../abstracts";
html {
  --text: #1a162e;
  --font: Gordita, sans-serif;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(6945%) hue-rotate(211deg) brightness(101%)
    contrast(96%);
  --header-bg-color: #eee;
  --footer-bg-color: var(--header-bg-color);
  --body-bg: #f6f6f6;
  --actions-group-color: #fff;
  --actions-group-shadow: rgba(237, 237, 246, 0.2);
  --actions-line: #ededf6;
  @include abstracts.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }
  // Drop-down
  --dropdown-bg-color: #fff;
  --dropdown-shadow: rgba(200, 200, 200, 0.4);
  --dropdown-menu-border: #d2d1d6;
  // Side-bar
  --side-bar-bg: #fff;
  --side-bar-shadow: rgba(200, 200, 200, 0.4);
  // Category item
  --cate-item-bg: #eeeeee;
  --cate-item-thumb: #fff;
  --cate-title-color: #000;
  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }
  // Filter button
  --filter-button-color: #6c6c72;
  --filter-button-bg: #fff;
  // Product-card
  --product-text: #1a162e;
  --product-brand: #9e9da8;
  --product-card-bg: #ffffff;
  --product-card-shadow: box-shadow: #ededf633;
  // Like-button
  --like-button__bg: #fff;
  --like-button__shadow: #7c7c7c33;
  // Filter-form
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200,200,200,0.4);
  --filter-form-tag-bg: #f8f8fb;
  // Auth
  --auth-content-bg: #fff;
}
