@use "../abstracts";
%flexCenter {
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--header-bg-color);
  @include abstracts.screen(lg) {
    box-shadow: 0px 20px 60px 10px var(--header-shadow);
  }
}
.bar {
  position: relative;
  @extend %flexCenter;
  padding: 30px 0;
  @include abstracts.screen(lg) {
    padding: 20px 0;
  }
  @include abstracts.screen(md) {
    justify-content: space-between;
    padding: 16px 0;
  }
  &__logo {
    @include abstracts.screen(lg) {
      margin-left: 39px;
      column-gap: 10px !important;
      &-title {
        font-size: 1.8rem !important;
      }
      &-img {
        width: 24px;
      }
    }
    @include abstracts.screen(md) {
      margin-left: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  }
}
.nav-bar {
  margin-left: 129px;
  padding: 20px 0;
  @include abstracts.screen(xl) {
    margin-left: 17px;
  }
  @include abstracts.screen(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    background: var(--side-bar-bg);
    margin-left: 0;
    z-index: 9;
    translate: -100%;
    transition: 0.5s;
    border-radius: 0 20px 20px 0;
    &.show {
      translate: 0;
      box-shadow: 0px 40px 90px 20px var(--side-bar-shadow);
    }
    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
  }
  @include abstracts.screen(sm) {
    right: 20%;
  }
  &__close {
    display: none;
    @include abstracts.screen(lg) {
      display: block;
      padding: 10px 40px;
    }
    @include abstracts.screen(sm) {
      padding: 0 20px 10px;
    }
  }
  // Nav-bar-md
  &__button {
    height: 50px;
    padding: 0 40px;
    align-items: center;
    @include abstracts.screen(sm) {
      padding: 0 20px;
    }
  }
  &__title,
  &__quantity {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }
  &__title {
    margin-left: 16px;
  }
  &__quantity {
    margin-left: auto;
  }
  // Navbar-overlay
  &__overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity visibility 0.5s;
    @include abstracts.screen(lg) {
      position: fixed;
      inset: 0;
      z-index: 8;
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }
  &__list {
    display: flex;
    @include abstracts.screen(lg) {
      overscroll-behavior: contain;
      flex-direction: column;
      height: calc(100% - 40px);
      overflow-y: auto;
    }
    @include abstracts.screen(md) {
      height: calc(100% - 128px);
    }
  }
  &__item {
    &:hover .drop-down {
      display: block;
    }
    @include abstracts.screen(lg) {
      width: 100%;
      &:hover .drop-down {
        display: none;
      }
      &--active .drop-down {
        display: block !important;
      }
    }
  }
  &__link {
    @extend %flexCenter;
    padding: 0 15px;
    height: 50px;
    column-gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    @include abstracts.screen(lg) {
      padding: 0 40px;
      font-size: 1.6rem;
      line-height: 150%;
      justify-content: space-between;
    }
    @include abstracts.screen(sm) {
      padding: 0 20px;
      height: 44px;
    }
  }
  &__arrow {
    font-size: 1.5rem;
    font-weight: 500;
    @include abstracts.screen(lg) {
      rotate: -90deg;
      transition: rotate 0.5s;
    }
  }
  &__item--active &__arrow {
    rotate: 0deg;
  }
}
.actions {
  @extend %flexCenter;
  margin-left: auto;
  gap: 20px;
  @include abstracts.screen(md) {
    margin-left: 0;
    &__signup {
      height: 40px !important;
      padding: 0 8px !important;
      font-size: 1.5rem !important;
    }
  }
  &__icon {
    display: flex;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
  }
  &__title {
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    line-height: 146.667%;
  }
  &__group {
    @extend %flexCenter;
    background-color: var(--actions-group-color);
    padding: 13px;
    border-radius: 8px;
    gap: 20px;
    box-shadow: 0px 20px 60px 10px var(--actions-group-shadow);
  }
  &__group--single {
    @include abstracts.screen(lg) {
      display: none;
    }
  }
  &__group:nth-child(2) {
    padding: 10px 20px;
  }
  &__line {
    width: 1px;
    height: 30px;
    background-color: var(--actions-line);
  }
  &__button {
    @extend %flexCenter;
    gap: 10px;
    cursor: pointer;
  }
  &__avatar {
    cursor: pointer;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    background: lightgray -205.145px -22.64px / 819.939% 546.626% no-repeat, #dfd2fa;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  }
}
