@use "../abstracts";
.auth {
  min-height: 100vh;
  display: flex;
  &__intro,
  &__content {
    flex: 1;
    padding: 0 30px;
  }
  &__intro {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
    &-logo,
    &-next {
      position: absolute;
      left: 50%;
      translate: -50%;
    }
    &-logo {
      top: 80px;
    }
    &-next {
      bottom: 80px;
    }
    &-img {
      // Max-width để ảnh có thể tương thích với kích thước
      max-width: 100%;
    }
    &-text {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.6rem;
      max-width: 412px;
      text-align: center;
    }
  }
  &__content {
    background: var(--auth-content-bg);
    @include abstracts.screen(md) {
      position: fixed;
      inset: 0;
      z-index: 1;
      transition: translate 0.3s;
      overflow-y: auto;
      &.hide {
        translate: 100%;
      }
    }
    &-inner {
      padding: 50px 0;
      width: min(460px, 100%);
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
  &__heading {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 146.667%;
  }
  &__desc {
    color: #9e9da8;
    line-height: 2.2rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    padding: 0 30px;
  }
  &__form {
    width: 100%;
    margin-top: 30px;
  }
  &__link {
    color: #0071dc;
    font-weight: 500;
    font-size: 15px;
    line-height: 146.667%;
  }
  &__button-group {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
  &__button {
    font-size: 18px;
    width: 100%;
  }
  &__text {
    margin-top: 108px;
    color: #9e9da8;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
  }
}
