@use "../abstracts";
.checkout-page {
  display: flex;
  background: #f6f6f6 ;
  flex-direction: column;
  min-height: 80vh;
  background: var(--product-detail-bg);
  padding-bottom: 50px;
  &__breadcrumbs {
    background: var(--checkout-breadcrumbs-bg) !important;
  }
}
.shipping-page{
  background-color: var(--shipping-bg);
}
.checkout-container {
  margin-top: 30px;
  @include abstracts.screen(md) {
    margin-top: 20px;
  }
}
.cart-info {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);
  background: var(--checkout-cart-info-bg);
  @include abstracts.screen(md) {
    padding: 16px;
  }
  &--small {
    padding: 20px;
  }
  &__heading {
    //styleName: Bold 24;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }
  &__sub-heading {
    //styleName: Medium 18;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin: 30px 0;
  }
  &__list {
    margin: -30px 0;
    @include abstracts.screen(md) {
      margin: -16px 0;
    }
  }
  &__bottom {
    margin-top: 30px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    &--bold {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }
  &__separate {
    margin: 30px 0;
    height: 1px;
    background: var(--checkout-border-color);
  }
  &__continue {
    display: flex;
    align-items: flex-end;
    height: 100%;
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-icon {
      rotate: 90deg;
      transition: translate 0.3s;
    }
    &-link:hover &-icon {
      translate: -5px;
    }
  }
  &__continue-link,
  &__row {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
  }
  &__sub-label {
    font-weight: 400;
  }
  &__next-button {
    margin-top: 30px;
  }
}
.cart-info + .cart-info {
  margin-top: 30px;
}
.cart-item {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  border-bottom: 1px solid var(--checkout-border-color);
  @include abstracts.screen(md) {
    padding: 16px 0;
    gap: 16px;
    &:last-child {
      border: none;
    }
  }
  &__thumb {
    width: 172px;
    height: 172px;
    object-fit: contain;
    @include abstracts.screen(xxl) {
      width: 150px;
      height: 150px;
    }
    @include abstracts.screen(lg) {
      width: 100px;
      height: 100px;
    }
    @include abstracts.screen(md) {
      width: 60px;
      height: 60px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-self: flex-start;
    // Dùng align-self để cho phần cart-item__content không bị phụ thuộc chiều cao vào phần hình ảnh
    @include abstracts.screen(md) {
      flex-direction: column;
      &-right {
        margin-top: 16px;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
    }
    &-left {
      flex: 1;
    }
  }
  &__title {
    //styleName: Medium 18;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    max-width: 374px;
  }
  &__price-wrap {
    //styleName: Medium 18;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #9e9da8;
    margin: 16px 0;
  }
  &__input {
    //styleName: Medium 15;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: var(--checkout-cart-item-text);
    display: flex;
    padding: 10px 20px;
    border: 1px solid var(--checkout-border-color);
    border-radius: 10px;
    height: 44px;
    gap: 10px;
    &-button {
      display: flex;
    }
  }
  &__total-price {
    //styleName: Bold 22;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: right;
    @include abstracts.screen(md) {
      text-align: left;
      margin-bottom: 16px;
    }
  }
  &__control-button {
    display: flex;
    align-items: center;
    gap: 10px;
    &:first-child {
      margin-right: 10px;
    }
  }
  &__control {
    //styleName: Medium 16;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #9e9da8;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    min-height: 44px;
    &--md-block {
      @include abstracts.screen(md) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__status {
    color: #67b044;
  }
}
.gift-item {
  display: flex;
  gap: 20px;
  &__img-wrap {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 20px 60px 10px var(--checkout-gift-shadow);
    background: rgba(118, 68, 225, 0.1);
    border-radius: 14px;
    flex-shrink: 0;
  }
  &__title {
    //styleName: Medium 18;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  &__desc {
    margin-top: 10px;
    //styleName: Regular 14;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
.user-address {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    @include abstracts.screen(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__button {
    @include abstracts.screen(md) {
      height: 46px;
    }
  }
  &__title {
    //styleName: Medium 18;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  &__desc {
    //styleName: Regular 15;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }
  &___message {
    margin-top: 30px;
    font-weight: 500;
  }
  &__link {
    color: #0071dc;
  }
}
.address-card {
  display: flex;
  margin-top: 30px;
  gap: 16px;
  @include abstracts.screen(md) {
    flex-direction: column;
  }
  &__left {
    flex: 1;
    display: flex;
    gap: 16px;
  }
  &__title {
    //styleName: Medium 18;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  &__desc {
    //styleName: Regular 15;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    width: min(520px, 90%);
  }
  &__list {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    list-style: disc inside;
    gap: 30px;
    @include abstracts.screen(sm) {
      flex-direction: column;
      gap: 16px;
    }
    &-item {
      margin-left: 8px;
    }
  }
  &__control {
    height: 100%;
    display: flex;
    align-items: flex-end;
    &-button {
      //styleName: Regular 18;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &__checkbox {
    &-input {
      appearance: none;
      &::before {
        content: url("../icons/checkbox-uncheck.svg");
      }
      &:not(:checked)::before {
        filter: var(--icon-color);
      }
      &:checked::before {
        content: url("../icons/checkbox-checked.svg");
      }
    }
  }
}
