<div class="container">
  <div class="bar">
    <a href="#!" class="bar__more">
      <img src="./assets/icons/more.svg" alt="" class="bar__more--icon icon" />
    </a>
    <a href="#!" class="logo">
      <img src="./assets/icons/logo.svg" alt="" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>
    <nav class="nav-bar">
      <ul class="nav-bar__list js-dropdown-list">
        <li class="nav-bar__item">
          <a href="#!" class="nav-bar__link"
            >Departments
            <img src="./assets/icons/arrow-down.svg" alt="" class="nav-bar__arrow icon" />
          </a>
          <div class="drop-down js-dropdown">
            <div class="drop-down__inner">
              <div class="drop-down__row">
                <div class="drop-down__menu main-menu">
                  <img src="./assets/icons/circle.svg" alt="" class="drop-down__image-1" />
                  <img src="./assets/icons/dropdown-icon1.svg" alt="" class="drop-down__image-2" />
                  <h2 class="drop-down__heading">All Departments</h2>
                  <ul class="drop-down__list js-menu-list">
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Savings & Featured Shops</a>
                    </li>
                    <li class="drop-down__item drop-down__item--active">
                      <a href="#!" class="drop-down__link">Electronics</a>
                      <div class="sub-menu">
                        <div class="sub-menu__column">
                          <img src="./assets/icons/rectangle.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon2.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">TV & Video</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Shop all TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">TVs by Size</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Smart TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Roku TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Streaming</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">TV Mounts & Accessories</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">DVD & Blu-Ray PlayersBaby</a>
                            </li>
                          </ul>
                          <div class="drop-down__sub-menu">
                            <img src="./assets/icons/blue-star.svg" alt="" class="drop-down__image-1" />
                            <img src="./assets/icons/dropdown-icon2.svg" alt="" class="drop-down__image-2" />
                            <h2 class="drop-down__heading">Wearable Technology</h2>
                            <ul class="drop-down__list">
                              <li>
                                <a href="#!" class="drop-down__link">Galaxy Watch</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Apple Watch</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Fitness Trackers</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Virtual Reality</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Headphones</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="sub-menu__column">
                          <img src="./assets/icons/triangle.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon3.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">Computers</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Shop All Computers</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Laptops</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">PC Gaming</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Monitors</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Chromebook</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Printers & Ink</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Shop all TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Computer Accessories</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Desktops</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Tax Software</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Computer Software</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">PC Finder</a>
                            </li>
                          </ul>
                        </div>
                        <div class="sub-menu__column">
                          <img src="./assets/icons/pac.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon4.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">Savings</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Tech Savings</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Overstock Savings</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Tech Rollbacks</a>
                            </li>
                          </ul>
                          <div class="drop-down__sub-menu">
                            <img src="./assets/icons/hexagon.svg" alt="" class="drop-down__image-1" />
                            <img src="./assets/icons/dropdown-icon5.svg" alt="" class="drop-down__image-2" />
                            <h2 class="drop-down__heading">Cell Phones</h2>
                            <ul class="drop-down__list">
                              <li>
                                <a href="#!" class="drop-down__link">Wireless Deals</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">5G Phones </a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Prepaid Phones & Plans </a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Refurbished Phones</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">iPhone Accessories</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Cases & Screen Protectors</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Unlocked Phones</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Clothing, Shoes & Accessories</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Home, Furniture & Appliances</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Toys & Video Games</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Home Improvement</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Baby</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Household Essentials</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Personal Care</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Patio & Garden </a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Sports & Outdoors</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Gift Cards</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Auto, Tires and Industrial</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Movies, Music & Books</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-bar__item">
          <a href="#!" class="nav-bar__link"
            >Grocery
            <img src="./assets/icons/arrow-down.svg" alt="" class="nav-bar__arrow icon" />
          </a>
          <div class="drop-down js-dropdown">
            <div class="drop-down__inner">
              <div class="drop-down__row">
                <div class="drop-down__menu main-menu">
                  <img src="./assets/icons/circle.svg" alt="" class="drop-down__image-1" />
                  <img src="./assets/icons/dropdown-icon1.svg" alt="" class="drop-down__image-2" />
                  <h2 class="drop-down__heading">All Departments</h2>
                  <ul class="drop-down__list js-menu-list">
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Savings & Featured Shops</a>
                    </li>
                    <li class="drop-down__item drop-down__item--active">
                      <a href="#!" class="drop-down__link">Electronics</a>
                      <div class="sub-menu">
                        <div class="sub-menu__column">
                          <img src="./assets/icons/rectangle.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon2.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">TV & Video</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Shop all TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">TVs by Size</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Smart TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Roku TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Streaming</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">TV Mounts & Accessories</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">DVD & Blu-Ray PlayersBaby</a>
                            </li>
                          </ul>
                          <div class="drop-down__sub-menu">
                            <img src="./assets/icons/blue-star.svg" alt="" class="drop-down__image-1" />
                            <img src="./assets/icons/dropdown-icon2.svg" alt="" class="drop-down__image-2" />
                            <h2 class="drop-down__heading">Wearable Technology</h2>
                            <ul class="drop-down__list">
                              <li>
                                <a href="#!" class="drop-down__link">Galaxy Watch</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Apple Watch</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Fitness Trackers</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Virtual Reality</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Headphones</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="sub-menu__column">
                          <img src="./assets/icons/triangle.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon3.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">Computers</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Shop All Computers</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Laptops</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">PC Gaming</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Monitors</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Chromebook</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Printers & Ink</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Shop all TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Computer Accessories</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Desktops</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Tax Software</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Computer Software</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">PC Finder</a>
                            </li>
                          </ul>
                        </div>
                        <div class="sub-menu__column">
                          <img src="./assets/icons/pac.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon4.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">Savings</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Tech Savings</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Overstock Savings</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Tech Rollbacks</a>
                            </li>
                          </ul>
                          <div class="drop-down__sub-menu">
                            <img src="./assets/icons/hexagon.svg" alt="" class="drop-down__image-1" />
                            <img src="./assets/icons/dropdown-icon5.svg" alt="" class="drop-down__image-2" />
                            <h2 class="drop-down__heading">Cell Phones</h2>
                            <ul class="drop-down__list">
                              <li>
                                <a href="#!" class="drop-down__link">Wireless Deals</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">5G Phones </a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Prepaid Phones & Plans </a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Refurbished Phones</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">iPhone Accessories</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Cases & Screen Protectors</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Unlocked Phones</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Clothing, Shoes & Accessories</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Home, Furniture & Appliances</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Toys & Video Games</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Home Improvement</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Baby</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Household Essentials</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Personal Care</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Patio & Garden </a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Sports & Outdoors</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Gift Cards</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Auto, Tires and Industrial</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Movies, Music & Books</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-bar__item">
          <a href="#!" class="nav-bar__link"
            >Beauty
            <img src="./assets/icons/arrow-down.svg" alt="" class="nav-bar__arrow icon" />
          </a>
          <div class="drop-down js-dropdown">
            <div class="drop-down__inner">
              <div class="drop-down__row">
                <div class="drop-down__menu main-menu">
                  <img src="./assets/icons/circle.svg" alt="" class="drop-down__image-1" />
                  <img src="./assets/icons/dropdown-icon1.svg" alt="" class="drop-down__image-2" />
                  <h2 class="drop-down__heading">All Departments</h2>
                  <ul class="drop-down__list js-menu-list">
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Savings & Featured Shops</a>
                    </li>
                    <li class="drop-down__item drop-down__item--active">
                      <a href="#!" class="drop-down__link">Electronics</a>
                      <div class="sub-menu">
                        <div class="sub-menu__column">
                          <img src="./assets/icons/rectangle.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon2.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">TV & Video</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Shop all TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">TVs by Size</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Smart TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Roku TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Streaming</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">TV Mounts & Accessories</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">DVD & Blu-Ray PlayersBaby</a>
                            </li>
                          </ul>
                          <div class="drop-down__sub-menu">
                            <img src="./assets/icons/blue-star.svg" alt="" class="drop-down__image-1" />
                            <img src="./assets/icons/dropdown-icon2.svg" alt="" class="drop-down__image-2" />
                            <h2 class="drop-down__heading">Wearable Technology</h2>
                            <ul class="drop-down__list">
                              <li>
                                <a href="#!" class="drop-down__link">Galaxy Watch</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Apple Watch</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Fitness Trackers</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Virtual Reality</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Headphones</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="sub-menu__column">
                          <img src="./assets/icons/triangle.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon3.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">Computers</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Shop All Computers</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Laptops</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">PC Gaming</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Monitors</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Chromebook</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Printers & Ink</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Shop all TVs</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Computer Accessories</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Desktops</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Tax Software</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Computer Software</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">PC Finder</a>
                            </li>
                          </ul>
                        </div>
                        <div class="sub-menu__column">
                          <img src="./assets/icons/pac.svg" alt="" class="drop-down__image-1" />
                          <img src="./assets/icons/dropdown-icon4.svg" alt="" class="drop-down__image-2" />
                          <h2 class="drop-down__heading">Savings</h2>
                          <ul class="drop-down__list">
                            <li>
                              <a href="#!" class="drop-down__link">Tech Savings</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Overstock Savings</a>
                            </li>
                            <li>
                              <a href="#!" class="drop-down__link">Tech Rollbacks</a>
                            </li>
                          </ul>
                          <div class="drop-down__sub-menu">
                            <img src="./assets/icons/hexagon.svg" alt="" class="drop-down__image-1" />
                            <img src="./assets/icons/dropdown-icon5.svg" alt="" class="drop-down__image-2" />
                            <h2 class="drop-down__heading">Cell Phones</h2>
                            <ul class="drop-down__list">
                              <li>
                                <a href="#!" class="drop-down__link">Wireless Deals</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">5G Phones </a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Prepaid Phones & Plans </a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Refurbished Phones</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">iPhone Accessories</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Cases & Screen Protectors</a>
                              </li>
                              <li>
                                <a href="#!" class="drop-down__link">Unlocked Phones</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Clothing, Shoes & Accessories</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Home, Furniture & Appliances</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Toys & Video Games</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Home Improvement</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Baby</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Household Essentials</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Personal Care</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Patio & Garden </a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Sports & Outdoors</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Gift Cards</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Auto, Tires and Industrial</a>
                    </li>
                    <li class="drop-down__item">
                      <a href="#!" class="drop-down__link">Movies, Music & Books</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div class="actions">
      <div class="actions__group actions__group--single">
        <button class="actions__button">
          <img src="./assets/icons/search.svg" alt="" class="actions__icon icon" />
        </button>
      </div>
      <div class="actions__group">
        <button class="actions__button">
          <img src="./assets/icons/heart.svg" alt="" class="actions__icon icon" />
          <span class="actions__title">03</span>
        </button>
        <div class="actions__line"></div>
        <button class="actions__button">
          <img src="./assets/icons/buy.svg" alt="" class="actions__icon icon" />
          <span class="actions__title">$65.42</span>
        </button>
      </div>
      <div class="actions__user">
        <img src="./assets/img/avatar-header.jpg" alt="" class="actions__avatar" />
      </div>
    </div>
  </div>
</div>
